* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: rgb(22, 28, 36);
  width: 100vw;
  height: 100vh;
}

.main-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
}

.form-wrapper,
.image-wrapper {
  width: 100%;
  height: 100%;
}

.form-wrapper {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.form-wrapper .main-heading {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 300;
}

.form-wrapper .main-heading h1 {
  color: #ffffff;
  font-size: 1.8em;
  font-family: "Montserrat";
  font-weight: 300;
  margin-bottom: 8px;
}

.form-wrapper .main-heading img {
  width: 100px;
}

.form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #ffffff;
}

.form-wrapper .form-group .form-control {
  padding: 16.5px 14px;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.437rem;
  color: rgb(99, 115, 129);
  background: transparent;
  border: 1px solid;
  border-color: rgba(145, 158, 171, 0.32);
  outline: none;
}

.form-wrapper .form-group textarea.form-control {
  height: 85px;
}

.form-wrapper .form-group .submit-btn {
  cursor: pointer;
  background: #ffffff;
  color: #212b36;
  border-radius: 5px;
  padding: 5px 2px;
  height: 45px;
  border: 1px solid #000000;
  margin-top: 10px;
  font-size: 1.1rem;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

.form-wrapper .form-group .submit-btn:hover {
  transform: scale(0.995);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
  position: relative;
}

.bg-overlay {
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scaleX(-1);
  background: linear-gradient(rgba(22, 28, 36, 0.94), rgba(22, 28, 36, 0.94))
      center center / cover no-repeat,
    url(../img/overlay_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.image-wrapper .img-container {
  /* width: 100%; */
  height: 100%;
  min-height: 45vh;
  display: flex;
  align-items: center;
}

.image-wrapper .img-container img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.spinner-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.spinner-container.show {
  display: flex;
}

@media (min-width: 768px) {
  .main-wrapper {
    width: 400px;
    height: 100vh;
  }
  .form-wrapper .form-group textarea.form-control {
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .main-wrapper {
    width: 100vw;
    flex-direction: row;
  }
  .form-wrapper .main-heading img {
    width: 120px;
  }
  .form-wrapper .form-group textarea.form-control {
    height: 150px;
  }
  .form-wrapper {
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: start;
    padding: 0px 40px;
  }
  .form-wrapper .main-heading {
    text-align: left;
  }
  .image-wrapper {
    flex: 3;
    height: 100%;
    padding: 50px 30px;
  }

  .image-wrapper .img-container {
    min-height: 40vh;
  }
}
