* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "poppins";
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.main-heading {
  margin-bottom: 30px;
  text-align: center;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 90%;
}

.form-group label {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.form-group .form-control {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  color: #000000;
  background: #ffffff;
  border: 1px solid #181818;
}

.form-group select.form-control {
  height: 45px;
}

.form-group .submit-btn {
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 2px;
  height: 45px;
  border: 1px solid #000000;
  margin-top: 5px;
  font-size: 1.1rem;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

.form-group .submit-btn:hover {
  background: #181818;
  color: #ffffff;
  transform: scale(0.99);
}

.image-wrapper {
  width: 100%;
  background: #eaeaea;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
}

.image-wrapper .img-container {
  /* width: 100%; */
  height: 100%;
  min-height: 45vh;
  display: flex;
  align-items: center;
}

.image-wrapper .img-container img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .main-wrapper {
    flex-direction: row;
    padding: 10px;
  }

  .image-wrapper {
    width: 70%;
    height: 100%;
    margin-bottom: 0px;
  }

  .form-wrapper {
    width: 30%;
    height: 100%;
    padding: 0px 10px 0px 0px;
  }
}

@media (max-width: 400px) {
  .image-wrapper {
    margin-bottom: 20px;
  }

  .main-heading {
    margin-bottom: 20px;
  }

  .main-heading h1 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
